.foxy{
	display: inline-block;
	width: 100%;
	width:250px;
	height:auto;
	overflow:hidden;
	box-sizing:border-box;
	margin-bottom:2.5em;
	z-index:200;
}
@media all and(max-width:960px){
	.foxy{
		margin-right:1.5em;
		margin-left:1.5em;
	}
}
@media all and(max-width:768px){
	.foxy{
		margin-right:0em;
		margin-left:0em;
	}
}
@media all and(max-width:568px){
	.foxy{
		text-align: center;
		& a{
			margin:0 auto;
		}
	}
	.foxy:last-of-type{
		margin-left:0em;
		margin-right:0;
	}
}
@media all and(max-width:480px){
	.foxy{
		margin-right:0em;
		margin-left:auto;
	}
	.foxy:last-of-type{
		margin-left:0em;
		margin-right:0;
	}
}
@media all and(max-width:320px){
	.foxy{
		margin-left:auto;
	}
}