@import "vars.less";
.ltlPl{
	&__anchor{
		display: block;
		background-color: rgba(36, 54, 60,0.1);
		margin-bottom: 1.5em;
	}
	&__wrapper{
		display: block;
		box-sizing: border-box;
		width:100%;
		max-width:100%;
		position: relative;
		padding-top:56.6%;
		overflow: hidden;
		&>img{
			position: absolute;
			top:0;
			left:0;
		}
	}
	&__info{
		padding:5px;
		box-sizing: border-box;
		min-height: 70px;
		&>span{
			font-size: 12px;
			color:#666;
		font-family: 'Roboto', sans-serif;

		}
		&>p{
			min-height: 50px;
			font-family: 'Roboto', sans-serif;
		}
	}
}
@media all and(max-width:768px){
	.ltlPl{
		&__info{
			
		}
	}
}